/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.nav-link.text-dark[b-oaye5qotgs]{
  color: blanchedalmond;
  padding-right: auto;
}
footer[b-oaye5qotgs] {
  padding-right:40px;
  position: absolute;
  bottom: 1px;
  
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 40px;
  border-top: 1px solid black;
  text-decoration: none;
  font-weight: bold;
  padding-left: 40px;
}
html[b-oaye5qotgs], body[b-oaye5qotgs] {
  background-image: url('http://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_blue.s2014.png')no-repeat;

  /* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */

     background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}  
header[b-oaye5qotgs]{
  padding-bottom: 20px;
}


