<h1 >@ViewBag.Message</h1>
<br>   
 <h3 ><a style="color: rgb(255, 0, 13);" class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a></h3>
 <h3 ><a style="color: rgb(92, 167, 6);" class="nav-link " asp-area="" asp-controller="Login" asp-action="Login">Login</a></h3>

